<%= form_with model: [training, comment] do |f| %>
	<div id="error_messages"><%= render 'layouts/error_messages', model: f.object %></div>
	<div>
    <%= f.text_field :content, class: "form-control" %>
  	</div>
  	<div style="margin-top: 10px">
    	<%= f.submit "コメントをする", class: "btn btn-primary" %>
  	</div>
<% end %>