// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.icon_image{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
}

.index_icon_image{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
}

